<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>event detail</title>
</head>
<body>
    <h1>event discussion detail</h1>
    <table>
        <thead>
            <tr>
                <th>event detail</th>
            </tr>
        </thead>
        <tbody>
            {% for detail in detail_list %}
                <tr>
                    <td><a>{{ detail.member_name }}</a></td>
                    <td><a>{{ detail.time }}</a></td>
                    <td><a>{{ detail.location }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>