{% extends 'base.html' %}

{% block title %}
    Friendship Home
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th class="text-center">User ID</th>
                <th class="text-center">User Name</th>
            </tr>
            </thead>
            <tbody>
            {% for user_total in user_total_list %}
                <tr>
                    <td class="text-center">{{ user_total.id }}</td>
                    <td class="text-center"><a href="{% url 'profiles:visit_home' user_total.id %}">{{ user_total.username }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}