{% extends 'base.html' %}

{% block title %}
    Friendship Profile
{% endblock %}

{% block content %}
    <div class="card">
        <br>
        {% for user in user_detail %}
            <p class="text-center"><img class="img-responsive center-block" src="https://static.runoob.com/images/mix/img_avatar.png" style="width:10%"></p>
            <div class="container">
                <h1 class="text-center">{{ user.username }}</h1>
                <p class="text-center">User ID: {{ user.id }}</p>
                <p class="text-center">First Name: {{ user.first_name }}</p>
                <p class="text-center">Last Name: {{ user.last_name }}</p>
                <p class="text-center">Email: {{ user.email }}</p>
                <p class="text-center">Phone: {{ user.phone }}</p>
                <p class="text-center">Address: {{ user.address }}</p>
                <p class="text-center">Joined Date: {{ user.date_joined }}</p>

                <div style="margin: 24px 0;"  class="text-center">
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>

                    {% if user.id !=  user_id %}
                        <form method="post" id="requestform" action="/friendships/{{ user_id }}/{{ user.id }}/profile/">
                            {% csrf_token %}
                            <p><input type="hidden" name="recipient_id" value="{{ user.id }}"/></p>
                            <p><input type="hidden" name="sender_id" value="{{ user_id }}"/></p>
                            <div align="center">
                                <input type="submit" class="btn btn-primary btn-sm" value='add friend'>
                            </div>
                        </form>
                    {% else %}
{#                        <p>this is your own profile page</p>#}
                        <br>
                    {% endif %}
            </div>
        {% endfor %}
    <br>
    <br>
    </div>
{% endblock %}