{% extends 'base.html' %}

{% load static %}

{% block title %}
    Welcome to {{ owner.username }}'s Home Page
{% endblock %}

{% block content %}
    <div class="container page-content-wrapper">
        <div class="row">
            <div class="col-md-3 change-gutters">
                <!-- User Personal Information start -->
                <div class="card post-card">
                    <a href="{% url 'profiles:visit_home' owner.id %}">
                        <img class="rounded-circle card-img-top"
                                {% if owner.customuserprofile.photo.url is not None %}
                             src="{{ owner.customuserprofile.photo.url }}"
                                {% else %} src="{% static 'default_photo.jpg' %}" {% endif %}
                             alt="{{ owner.username }}'s Profile Photo">
                    </a>
                    <div class="card-body">
                        <h5 class="card-text">{{ owner.username }}</h5>
                        {% if user.id == owner.id %}
                            <a href="{% url 'users:profile' owner.id %}" class="btn btn-primary">Edit Profile</a>
                        {% endif %}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Email: {{ owner.email }}</li>
                        <li class="list-group-item">Phone: {{ owner.phone }}</li>
                        <li class="list-group-item">Address: {{ owner.address }}</li>
                    </ul>
                    <div class="card-footer text-muted">
                        Last login: {{ owner.last_login }}
                    </div>
                </div>
                <!-- User Personal Information end -->
            </div>

            <!-- Right Side start -->
            {% block right %}
            {% endblock %}
            <!-- Right Side end -->
        </div>
    </div>
{% endblock %}