{% extends 'base.html' %}

{% load static %}

{% block title %}
    Welcome to {{ owner.username }}'s Home Page
{% endblock %}

{% block content %}
    <div class="container page-content-wrapper">
        <div class="row">
            <div class="col-md-3 change-gutters">
                <!-- User Personal Information start -->
                <div class="card post-card">
                    <a href="{% url 'profiles:visit_home' owner.id %}">
                        <img class="rounded-circle card-img-top"
                                {% if owner.customuserprofile.photo.url is not None %}
                             src="{{ owner.customuserprofile.photo.url }}"
                                {% else %} src="{% static 'default_photo.jpg' %}" {% endif %}
                             alt="{{ owner.username }}'s Profile Photo">
                    </a>
                    <div class="card-body">
                        <h5 class="card-text">{{ owner.username }}</h5>
                        {% if user.id == owner.id %}
                            <div>
                                <a href="{% url 'users:profile' owner.id %}" class="btn btn-primary btn-sm">
                                    Edit Profile</a>
                            </div>
                        {% endif %}
                        <!-- Delete Friendship -->
                        {% if friendship %}
                            <form method="post" id="DeleteFriend" action="/friendships/{{ user.id }}/request/">
                                {% csrf_token %}
                                <p><input type="hidden" name="user1_id" value="{{ friendship.user1_id }}"/></p>
                                <p><input type="hidden" name="user2_id" value="{{ friendship.user2_id }}"/></p>
                                <p><input type="hidden" name="SendOrRecvOrFriendOrNotification" value="friend"/></p>
                                <div>
                                    <input type="submit" class="btn btn-primary btn-sm" value="delete">
                                </div>
                            </form>
                        {% endif %}
                        <!-- Delete Friendship -->

                        <!-- Add Friendship -->
                        {% if user.id != owner.id and friendship is None %}
                            <form method="post" id="requestform"
                                  action="/friendships/{{ user.id }}/{{ owner.id }}/profile/">
                                {% csrf_token %}
                                <p><input type="hidden" name="recipient_id" value="{{ owner.id }}"/></p>
                                <p><input type="hidden" name="sender_id" value="{{ user.id }}"/></p>
                                <div>
                                    <input type="submit" class="btn btn-primary btn-sm" value='add friend'>
                                </div>
                            </form>
                        {% endif %}
                        <!-- Add Friendship -->
                    </div>
                    <ul class="list-group list-group-flush">
                        {% if user.id == owner.id or privacy_settings.email_p %}
                            <li class="list-group-item">Email: {{ owner.email }}</li>
                        {% endif %}
                        {% if user.id == owner.id or privacy_settings.phone_p %}
                            <li class="list-group-item">Phone: {{ owner.phone }}</li>
                        {% endif %}
                        {% if user.id == owner.id or privacy_settings.address_p %}
                            <li class="list-group-item">Address: {{ owner.address }}</li>
                        {% endif %}
                    </ul>
                    <div class="card-footer text-muted">
                        Last login: {{ owner.last_login }}
                    </div>
                </div>
                <!-- User Personal Information end -->
            </div>

            <!-- Right Side start -->
            {% block right %}
            {% endblock %}
            <!-- Right Side end -->
        </div>
    </div>
{% endblock %}