{% extends 'base.html' %}
{% load static %}

{% block title %}
    Welcome to {{ owner.username }}'s Home Page
{% endblock %}

{% block content %}
    <div class="container page-content-wrapper">
        <div class="row">
            <div class="col-md-3 change-gutters">
                <!-- User Personal Information start -->
                <div class="card post-card">
                    <a href="{% url 'profiles:visit_home' owner.id %}">
                        <img class="rounded-circle card-img-top" src="{{ owner.customuserprofile.photo.url }}"
                             alt="{{ owner.username }}'s Profile Photo">
                    </a>
                    <div class="card-body">
                        <h5 class="card-text">{{ owner.username }}</h5>
                        {% if user.id == owner.id %}
                            <a href="{% url 'users:profile' owner.id %}" class="btn btn-primary">Edit Profile</a>
                        {% endif %}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Email: {{ user.email }}</li>
                        <li class="list-group-item">Phone: {{ user.phone }}</li>
                        <li class="list-group-item">Address: {{ user.address }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                    <div class="card-footer text-muted">
                        Last login: {{ user.last_login }}
                    </div>
                </div>
                <!-- User Personal Information end -->

                <!-- Friends List start -->
                <div class="card post-card">
                    <div class="card-header">
                        <h5 class="card-title">Friends List</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for friend in friend_list %}
                            <li class="list-group-item">
                                <a href="{% url 'profiles:visit_home' friend.id %}">
                                    <img class="rounded-circle" width="20" src="https://picsum.photos/50/50"
                                         alt="{{ friend.username }}'s Profile Photo">
                                    <span>{{ friend.username }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="card-footer">
                        <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                        <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                        <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                    </div>
                </div>
                <!-- Friends List end -->
            </div>

            <!-- Right Side start -->
            {% block right %}
            {% endblock %}
            <!-- Right Side end -->
        </div>
    </div>
{% endblock %}