{% extends 'profiles/profile_base.html' %}

{% load static %}

{% block right %}
    <!-- Posts List start -->
    <div class="col-md-6 change-gutters">
        <!-- Post Form start -->
        <div id="id_post_create_div"></div>

        <!-- Post Form end -->
        <div id="id_post_list">
            {% include 'profiles/post/post_list.html' %}
        </div>
    </div>
    <!-- Posts List end -->

    <div class="col-md-3 change-gutters">
        <!-- Discussions List start -->
        <div class="card post-card">
            <div class="card-header">
                <h5 class="card-title">Discussions List</h5>
            </div>
            <ul class="list-group list-group-flush">
                {% for discussion in discussion_list %}
                    <li class="list-group-item">
                    </li>
                {% endfor %}
            </ul>
            <div class="card-footer">
                <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
            </div>
        </div>
        <!-- Discussions List end -->

        <!-- Friends List start -->
        <div class="card post-card">
            <div class="card-header">
                <h5 class="card-title">Friends List</h5>
            </div>
            <ul class="list-group list-group-flush">
                {% for friend in friend_list %}
                    <li class="list-group-item">
                        <a href="{% url 'profiles:visit_home' friend.id %}">
                            <img class="rounded-circle" width="20" src="https://picsum.photos/50/50"
                                 alt="{{ friend.username }}'s Profile Photo">
                            <span>{{ friend.username }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="card-footer">
                <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
            </div>
        </div>
        <!-- Friends List end -->

        <!-- Events List start -->
        <div class="card post-card">
            <div class="card-header">
                <h5 class="card-title">Events List</h5>
            </div>
            <ul class="list-group list-group-flush">
                {% for event in event_list %}
                    <li class="list-group-item">
                    </li>
                {% endfor %}
            </ul>
            <div class="card-footer">
                <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
            </div>
        </div>
        <!-- Events List end -->
    </div>
{% endblock %}

{% block js-extra-script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#id_post_create_div").load(
                "{% url 'profiles:post_create' %}",
                refreshForms
            );
            refreshPosts();
        });

        function refreshForms() {
            $("form").on("submit", function (event) {
                event.preventDefault();
                $.ajax({
                    data: $(this).serialize(),
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    success: function (response) {
                        $("#id_post_create_div").load("{% url 'profiles:post_create' %}", refreshForms); // reset form
                        $("#id_post_list").load("{% url 'profiles:post_list' user.id 1 %}", refreshPosts); // refresh posts list
                    },
                    error: function (data) {
                        alert('something wrong.')
                    }
                });
            });
        }

        function refreshPosts() {
            $(".pagination a.page-link").on('click', function (event) {
                event.preventDefault();
                $("#id_post_list").load($(this).attr('href'), refreshPosts); // refresh posts list
            });
        }
    </script>
{% endblock %}