<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>group detail</title>
</head>
<body>
    <h1>this is group detail test</h1>
    <table>
        <thead>
            <tr>
                <th>member name</th>
            </tr>
        </thead>
        <tbody>
            {% for member in member_list %}
                <tr>
                    <td>{{ member.member_id }}</td>
                    <td>{{ member.member_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>