body {
    background-color: #fff;
}

.page-content-wrapper {
    margin-top: 1rem;
}

.post-card {
    margin-bottom: 1rem;
}

.change-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}

/*css for login form*/
.or-text-row {
    display: table-row;
}

.or-text {
    display: table;
    width: 100%;
    position: relative;
    margin: 20px 0;
}

.or-text-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.or-text-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    z-order: 0;
}

.or-text-line {
    display: table-cell;
    text-align: center;
    position: relative;
    width: 100%;
}

.or-text-line p {
    margin-top: 10px;
}