{% extends 'users/user_base.html' %}

{% load i18n static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container justify-content-center">
        <h1 style="text-align: center">{{ title }}</h1>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post">{% csrf_token %}
                    <p>{% trans "Forgotten your password? Enter your username and email address below, and we'll email instructions for setting a new one." %}</p>

                    <div class="form-group">
                        <label for="id_username">{% trans 'Username:' %}</label>

                        {% if form.is_bound %}
                            {% if form.username.errors %}
                                {{ form.username }}
                                {% for error in form.username.errors %}
                                    <div class="invalid-feedback" style="display: block;">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.username }}
                            {% endif %}
                        {% else %}
                            <input class="form-control" type="text" name="username" maxlength="150" required
                                   id="id_username">
                        {% endif %}

                        {% if form.username.help_text %}
                            <div class="form-text text-muted">{{ form.username.help_text|safe }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="id_email">{% trans 'Email address:' %}</label>

                        {% if form.is_bound %}
                            {% if form.email.errors %}
                                {{ form.email }}
                                {% for error in form.email.errors %}
                                    <div class="invalid-feedback" style="display: block;">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.email }}
                            {% endif %}
                        {% else %}
                            <input class="form-control" type="email" name="email" maxlength="254" required
                                   id="id_email">
                        {% endif %}

                        {% if form.email.help_text %}
                            <div class="form-text text-muted">{{ form.email.help_text|safe }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="{% trans 'Reset my password' %}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}