{% extends 'users/user_base.html' %}

{% load i18n static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main-content %}
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h4 class="card-title">{{ title }}</h4>
                    <p class="card-text">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
                    <hr>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form method="post">{% csrf_token %}
                        <!-- Hidden Fields -->
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        <!-- Errors -->
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="id_old_password">Old password:</label>

                            {% if form.is_bound %}
                                {% if form.old_password.errors %}
                                    <input class="form-control is-invalid" type="password" name="old_password"
                                           autofocus="autofocus"
                                           required id="id_old_password">
                                    {% for error in form.old_password.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <input class="form-control is-valid" type="password" name="old_password"
                                           required id="id_old_password">
                                {% endif %}
                            {% else %}
                                <input class="form-control" type="password" name="old_password" autofocus="autofocus"
                                       required
                                       id="id_old_password">
                            {% endif %}

                            {% if form.old_password.help_text %}
                                <div class="form-text text-muted">{{ form.old_password.help_text|safe }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="id_new_password1">New password:</label>

                            {% if form.is_bound %}
                                {% if form.new_password1.errors %}
                                    <input class="form-control is-invalid" type="password" name="new_password1"
                                           autofocus="autofocus"
                                           required id="id_new_password1">
                                    {% for error in form.new_password1.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <input class="form-control is-valid" type="password" name="new_password1"
                                           required id="id_new_password1">
                                {% endif %}
                            {% else %}
                                <input class="form-control" type="password" name="new_password1" required
                                       id="id_new_password1">
                            {% endif %}

                            {% if form.new_password1.help_text %}
                                <div class="form-text text-muted">{{ form.new_password1.help_text|safe }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="id_new_password2">New password confirmation:</label>

                            {% if form.is_bound %}
                                {% if form.new_password2.errors %}
                                    <input class="form-control is-invalid" type="password" name="new_password2"
                                           required id="id_new_password2">
                                    {% for error in form.new_password2.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <input class="form-control is-valid" type="password" name="new_password2"
                                           required id="id_new_password2">
                                {% endif %}
                            {% else %}
                                <input class="form-control" type="password" name="new_password2" required
                                       id="id_new_password2">
                            {% endif %}

                            {% if form.new_password2.help_text %}
                                <div class="form-text text-muted">{{ form.new_password1.help_text|safe }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}