{% extends 'base.html' %}

{% block title %}
    Sign Up
{% endblock %}

{% block content %}
    <div class="container justify-content-center">
        <h1 style="text-align: center">Sign up</h1>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post">{% csrf_token %}
                    <!-- Hidden Fields -->
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <!-- Errors -->
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <!-- Visible Fields -->
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            {{ field.label_tag }}

                            {% if form.is_bound %}
                                {% if field.errors %}
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback" style="display: block;">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% else %}
                                {{ field }}
                            {% endif %}

                            {% if field.help_text %}
                                <div class="form-text text-muted">{{ field.help_text|safe }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}