{% extends 'users/user_base.html' %}

{% block title %}
    Email Validation on Sign-Up
{% endblock %}

{% block content %}
    {% if valid_link %}

        <div class="container justify-content-center">
            <h1 style="text-align: center">Your Account is Activated!</h1>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <p>Your account <a href="{% url 'login' %}">{{ username }}</a> is activated. Thank you for using our
                        website.</p>
                </div>
            </div>
        </div>

    {% else %}

        <div class="container justify-content-center">
            <h1 style="text-align: center">Invalid Link!</h1>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <p>Sorry! This is an invalid link.</p>
                    <p>Please <a href="{% url 'users:signup' %}">Sign Up</a> or <a href="{% url 'login' %}">Log in</a>.
                    </p>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}