{% extends 'users/user_base.html' %}

{% block title %}
    Profile Information
{% endblock %}

{% block main-content %}
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h4>Profile Information</h4>
                    <hr>
                    <!-- Messages -->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-dismissible {{ message.tags }} fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form id="id_profile_edit_form" enctype="multipart/form-data" method="post">{% csrf_token %}
                        {{ form.as_p }}

                        {{ profile.management_form }}
                        {% for profile_form in profile %}
                            {{ profile_form.as_p }}
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Update My Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}