{% extends 'users/user_base.html' %}

{% block title %}
    DELETE Account?
{% endblock %}

{% block main-content %}
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h4>You have leaved this discussion!</h4>
                    <form class="form-inline ml-auto">
                        <a class="btn btn-outline-primary mx-sm-1" href="{% url 'discussions:discussion_home' %}">Return
                            this page</a>
                    </form>
                    <hr>
                </div>
            </div>


        </div>
    </div>
{% endblock %}