{% extends 'base.html' %}

{% load static %}

{% block title %}Discussion index{% endblock %}

{% block content %}
    <blockquote class="blockquote text-center"><h2>Discussion</h2></blockquote>

    <div class="container page-content-wrapper">
        <div class="row">
         <div class="col-md-3 change-gutters">
            {% block right %}

                    <div class="card post-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">

                                {% for discussion in discussions.all.distinct %}
                                    <div class="container">


                                        <div class="row">
                                            <div class="col-md"></div>
                                            <div class="col-ld">
                                                <div class="h5">Topic {{ discussion.topic }}</div>
                                            </div>
                                            <div class="col-md"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md"></div>
                                            <div class="col-ld">
                                                <div class="h6 text-muted">Id{{ discussion.id }}</div>
                                            </div>
                                            <div class="col-md"></div>
                                        </div>

                                        {% for user in discussion.users.all.distinct %}
                                            <div class="row">
                                                <div class="col-sm">
                                                    <a href="#" class="card-link">User{{ user.id }}</a>
                                                </div>
                                                <div class="col-sm">
                                                    <p> Name:{{ user.last_name }}{{ user.first_name }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <div class="row">
                                            <div class="col">

                                                <a class="btn btn-outline-primary mx-sm-1"
                                                   href="{% url 'discussions:discussion_detail' discussion.id %}">Enroll</a>
                                            </div>
                                            <div class="col">
                                                <form class="form-inline ml-auto">
                                                    <a class="btn btn-outline-primary mx-sm-1"
                                                       href="{% url 'discussions:discussion_confirm_leave' discussion.id user_id %}">Leave</a>
                                                </form>
                                            </div>
                                        </div>

                                    </div>

                                    </div>

                                    </div>
                                    </div>
                                {% endfor %}
                </div>

                <form class="form-inline ml-auto">
                    <a class="btn btn-outline-primary mx-sm-1" href="{% url 'discussions:discussion_create' %}">Create
                        your
                        discussion</a>
                </form>


            {% endblock %}
         </div>
        <div class="col-md-3 change-gutters">
        {% block left %}
<form class="form-inline ml-auto">
                    <a class="btn btn-outline-primary mx-sm-1" href="{% url 'discussions:discussion_create' %}">Create
                        your
                        discussion</a>
                </form>
        {% endblock %}
        </div>
    </div>
    </div>
{% endblock %}
